* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.3fr 6fr 0.5fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(./proje1.jpg);
    background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: overlay;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
}

.info {
  grid-column: 2 / 3;
  grid-row: 2 ;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 10px;
  row-gap: 20px;
  background-size: cover;
  background-attachment: unset;
  opacity: 1;
  width: 90%;
  min-width: 500px;
}

.name {
  grid-column: 1 / 3;
  grid-row: 1 ;
  align-items: center;
      font-family: 'Cinzel Decorative', cursive;
  font-size: x-large;
  justify-content: center;
  align-content: center;
  /* margin-bottom: 5vh; */
  padding: 10px;
  color: rgb(185, 185, 185);
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(174, 19, 14,0.1) 0%, rgba(71, 16, 12,1) 90% ); */
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.links {
  grid-column: 2 / 3;
  grid-row: 2 ;
  transition: 150ms;
      font-family: 'Cinzel Decorative', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  border-radius: 10px;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-between; */
  padding-top: 10px;
  max-height: 25rem;
}

.cv {
  transition: 150ms;
      font-family: 'Cinzel Decorative', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 10px;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-inline: 10px;
}
.personal {
  transition: 150ms;
      font-family: 'Cinzel Decorative', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 10px;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  margin-inline: 10px;
  padding-top: 15px;
}


.logo{
  display:flex;
  width: 5vh;
  opacity: 0.8;
  transition: 150ms;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(185, 185, 185);
  display: inline-block;
  padding-inline: 20px;
  font-size: large;
}

.profile{
  grid-column: 1 / 2;
  grid-row: 2 ;
  /* height: 100%; */
  background-position-y: 5%;
  background-position-x: 65%;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-image: url(./profil.jpeg);
  transition: 150ms;
  border-radius: 10px;
  min-width: 200px;
  width: 100%;
  max-height: 25rem
}


.projects{
  grid-column: 4 / 5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
  height: 90%;
  background-position-y: 0%;
  background-position-x: 70%;
  background-repeat: no-repeat;
  background-attachment: unset;
  transition: 150ms;
  border-radius: 10px;
  min-width: 200px;
}


.github{
  border-radius: 25px;
}
.logo:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: 450ms;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo:active{
  transform: scale(0.9);
  
}

.part {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.element {
  transition: 150ms;
      font-family: 'Cinzel Decorative', cursive;
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  font-size: x-large;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.projects{
  max-height: ;
}

.element:hover {
  transform: scale(1.01);
  transition: 450ms;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #1f1f1f;
}


.btn {
  display: inline;
  margin-right: 0px;
  height: 100%;
}
button {
  border-radius: 10px;
}
button:hover {
  background-color: black;
  color: #66cc66;
  border-radius: 10px;
}
.btn:hover {
  background-color: black;
  color: greenyellow;
}


h3 {
  text-align: center;
  color: beige;
  padding: 5px;
}
h1 {
  text-align: center;
  font-size: xx-large;
}
li{
  list-style-type: none;
}

.song{
  display: block;
      font-family: 'Cinzel Decorative', cursive;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
span.js{
  color: rgb(240, 219, 79);
  font-size: large;

}
span.react{
  color: rgb(97, 219, 251);
  font-size: large;

}
.tech {
  text-align: center;
  color: rgb(175, 175, 175);
  padding: 5px;
}

@media screen and (max-width: 600px) {
.js, #song, .audiologo{
  display: none;
}
}
@media screen and (max-width: 992px) {
  .song, #song, .audiologo{
    display: none;
  }
  .main{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column: 2 / 3;
    grid-row: 1 ;
    background-size: cover;
    background-attachment: unset;
    opacity: 1;
    width: 100%;
    min-width: 100px;
    row-gap: 5px;
  }

  h1 {
    text-align: center;
    font-size: medium;
  }
  .projects{
    grid-column: 2 / 3;
    grid-row: 2 ;
    margin: 1px;
    padding: 1px;
  }
  .element {
    margin: 1px;
    padding: 1px;
  }
  .name {
    align-items: center;
        font-family: 'Cinzel Decorative', cursive;
    font-size: x-small;
    /* justify-content: center; */
    /* align-content: center; */
    color: rgb(185, 185, 185);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;

  }
  .personal {
    padding-top: 0px;

  }
  .links {
    grid-column: 1 / 3;
    grid-row: 2 ;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    transition: 150ms;
        font-family: 'Cinzel Decorative', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-height: min-content;
  }
  h3{
    font-size:small;
  }
  a {
    text-decoration: none;
    color: rgb(185, 185, 185);
    padding: 1px;
    display: inline-flex;
    justify-content: space-between;
    font-size: medium;
  }
  
  .element {
    transition: 150ms;
        font-family: 'Cinzel Decorative', cursive;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    font-size: xx-large;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .profile{
  display: none;
  }
  .logo{
    margin: 10px;
    width: 5vh;
    opacity: 0.8;
    transition: 150ms;
  }
  .song{
  display: block;
      font-family: 'Cinzel Decorative', cursive;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
}
.gif {
  visibility: hidden;
  position:fixed;
  overflow: hidden;
  border-radius: 10px;
  top: 100%;
  left: 0;
  width: 110vh;
  font:12px Tahoma;
  }
  .typescript:hover  .gif {
    visibility: visible; 
  }