* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(https://images.unsplash.com/photo-1630333240078-400d0faf5d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
  background-attachment: unset;
  opacity: 1;
  height: 100vh;
  background-position-y: 50%;

}

.logo{
  margin: 10px;
  width: 10vh;
  opacity: 0.8;
}
.github{
  border-radius: 25px;
}
.logo:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: 450ms;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo:active{
  transform: scale(0.9);

}

.part {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.element1 {
  font-family: "Supermercado One", cursive;
  justify-content: space-between;
  display: flex;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.element {
  font-family: "Supermercado One", cursive;
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  font-size: xx-large;
  flex-direction: row;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.element:hover {
  transform: scale(1.01);
  transition: 450ms;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #292929;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
}


.btn {
  display: inline;
  margin-right: 0px;
  height: 100%;
}
button {
  border-radius: 10px;
}
button:hover {
  background-color: black;
  color: #66cc66;
  border-radius: 10px;
}
.btn:hover {
  background-color: black;
  color: greenyellow;
}

.head {
  align-items: center;
  font-family: "Supermercado One", cursive;
  font-size: x-large;
  justify-content: center;
  align-content: center;
  margin-bottom: 5vh;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,0.1) 0%, rgba(12,116,117,1) 90% );
  border-radius: 20px;
}
h1 {
  text-align: center;
}
